rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /thumbnails/{document=**} {
      // logged in user uid must match the document creator to read & delete
      allow read, delete: if request.auth.uid == resource.data.uid;

    }

    match /users/{userId} {
      // only authorized users can create
      allow create: if request.auth != null;
      allow read, write, update: if request.auth != null && request.auth.uid == userId;
    }

    match /profile_info/{document=**} {
      allow create: if request.auth != null;
      allow read, write: if request.auth != null && request.auth.uid == resource.data.uid;
      allow delete, update: if request.auth != null && request.auth.uid == resource.data.uid;
    }
  }
}